{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "ignorePatterns": [
        "src/serviceWorker.ts",
        "src/react-app-env.d.ts",
        "src/index.tsx"
    ]
}
